<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Clone Let's Collaborate</title>
</head>

<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="section-title">Let's Collaborate</h4>
        </div>
      </div>
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-12 ">
            <h2 class="Pra-text">AI + RPA is what we do </h2>
            <h3 class="Future-text">Future-Proof your business. Drive efficiency, profitability and deliver on customer
              experience</h3>
            <p class="automation">AI + PRA Automation <span><b><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg></b></span></p>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <img src="images/robot.jpg" alt="robot-img" class="card-img">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="Pra-text">Make Bolder Choices</h2>
            <h3 class="Future-text">Digital focused strategies to realize market-changing ideas</h3>
            <a class="ideas" href="#"> Build Better Apps <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <img src="images/woman.png" alt="woman-img" class="card-img">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="Pra-text">Innovate with Speed</h2>
            <h3 class="Future-text">Create higher quality software, deliver on customer expectations and business goals
            </h3>
            <a class="ideas" href="#"> DevOps <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <img src="images/accessories.jpg" alt="woman-img" class="card-img">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="Pra-text">Embrace Cloud</h2>
            <h3 class="Future-text">With Cloud-First accelerate innovation and optimize performance</h3>
            <a class="ideas" href="#">Cloud Services <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <img src="images/accessories.jpg" alt="woman-img" class="card-img">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="Pra-text">Embrace Cloud</h2>
            <h3 class="Future-text">With Cloud-First accelerate innovation and optimize performance</h3>
            <a class="ideas" id="cloud-service" href="#">Cloud Services <svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <img src="images/mobiles.jpg" alt="woman-img" class="card-img">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row btn-container">
          <div class="col-md-12">
            <button class="button  ">Get in touch</button>
          </div>
        </div>

  </section>
  <div>
    <hr class="horizontal">
  </div>
</body>

</html>